@font-face {
  font-family: 'BachelorPadJL';
  src: url('static/BachelorPadJLRegular.ttf') format('truetype');
}

p {
    padding: 0px;
    margin: 0px;
    font-family: "BachelorPadJL";
}

.navstart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
}
.navend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.navicon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.brandname {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.navmenu {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
}